// -*- closure-template-html -*-
// kubart.tmpl

{namespace kubart.view}

{template baseFrame}
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{$title}</title>
            <link rel="stylesheet" href="/static/css/style.css" text="text/css">
        </head>

        <body>
            <div id="header">
                <a href="/" title="Стихи Марии Петелиной">Стихи Марии Петелиной</a>
            </div>

            <div id="content">
                {$content |noAutoescape}
            </div>

            <div id="footer">
                @2011 Мария Петелина
            </div>
        </body>
    </html>
{/template}

{template poemPage}
    {call baseFrame}
        {param title: $title /}
        {param content}
            <div id="poem">
                <h1>{$title}</h1>
                
                {foreach $line in $poem}
                    <span>{$line}</span>
                    {if not isLast($line)}<br />{/if}
                {/foreach}
            </div>
        {/param}
    {/call}
{/template}

{template showPoemList}
    <ul>
        {foreach $poem in $poems}
            <li>
                <a href="{$poem.href}">{$poem.name}</a>
            </li>
        {/foreach}
    </ul>
{/template}

{template categoryPage}
    {call baseFrame}
        {param title: $title or 'Стихи Марии Петелиной' /}

        {param content}
            {if $poems}
                {call showPoemList}
                    {param poems: $poems /}
                {/call}
            {/if}
    
            <ul>
                {foreach $category in $categories}
                    <li>
                        {if $category.name}
                            {if $category.href}
                                <a href="{$category.href}" class="category">{$category.name}</a>
                            {else}
                                <span class="category" >{$category.name}</span>
                            {/if}
                        {/if}

                        {if $category.poems}
                            {call showPoemList}
                                {param poems: $category.poems /}
                            {/call}
                        {/if}
                    </li>
                {/foreach}
            </ul>
        {/param}
    {/call}
{/template}
